extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-logout

block content
    .content
        .page-header._about(style="background-image: url('img/background/bg-image.jpg')")
            .container
                .inner
                    .page-header__inner
                        div.page-header__block
                            .logo-white
                        div.page-header__block
                            h1 SHARE — ЗНАЧИТ ДЕЛИТЬСЯ
                            p Экономь красиво, зарабатывай легко!
                        div.page-header__block
                            a(href="").btn._full Присоединиться

        .container
            .inner
                section.section._white
                    h3 Наслаждайтесь покупками,<br> рекомендуйте нас своим друзьям и знакомым!
                    .tlt-descr Urban Share создан для повышения качества жизни каждого участника программы.<br> Стань частью проекта — получай скидки от партнеров<br> и зарабатывай на рекомендациях.

                section.section._double
                    .section__inner
                        .card-banners._discount
                            h3 Получай скидки
                            .tlt-descr Вступайте в программу Urban Share и совершайте выгодные покупки со скидками до 25%!
                            p
                                a(href="").btn._full Хочу скидки

                    .section__inner
                        .card-banners._work
                            h3 Зарабатывай
                            .tlt-descr Рекомендуйте жилье от Urban Group и получайте % с продаж.
                            p
                                a(href="").btn._full Хочу заработать

                section.section
                    h2 Новости партнеров
                    .tlt-descr Свежие новости, распродажи, спецпредложения и подарки для клиентов Urban Share

                    .partners-list
                        a(href="").partners-list__item
                            img(src="img/news/news_1.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Выгода от Эльдорадо
                        a(href="").partners-list__item
                            img(src="img/news/news_2.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Модели лояльности
                        a(href="").partners-list__item
                            img(src="img/news/news_3.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Не про скидки
                        a(href="").partners-list__item
                            img(src="img/news/news_4.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Трата с умом
                        a(href="").partners-list__item
                            img(src="img/news/news_5.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Лайфхак от Мосигры
                                .partners-list__date сегодня
                        a(href="").partners-list__item
                            img(src="img/news/news_6.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Подарки от OBI
                                .partners-list__date 24 ноября 2017
                        a(href="").partners-list__item
                            img(src="img/news/news_7.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Экономика богатых
                                .partners-list__date 24 ноября 2017
                        a(href="").partners-list__item
                            img(src="img/news/news_8.jpg", alt="").partners-list__img
                            footer.partners-list__footer
                                .partners-list__tlt Новость дня
                                .partners-list__date 24 ноября 2017

                    .partners-list-more
                        a(href="", data-show-more="news").btn._loading показать еще…

                section.section
                    .banner
                        .banner__tlt Стань участником URBAN SHARE прямо сейчас
                        a(href="").banner__btn.btn._white ПРИСОЕДЕНИТЬСЯ

block page_bottom
