extends layout
block vars
    - var title = "Blank page"
block content
    p  Пример пустой страницы. Можно использовать как шаблон для новых страниц.
block page_bottom
    //-script(src="/js/script_file_for_this_page.js")