extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-login

block content
    .content
        .page-header._bonus(style="background-image: url('img/background/bg-image_2.jpg')")
            .container
                .inner
                    .page-header__inner
                        div.page-header__block
                            .logo-white
                        div.page-header__block
                            h1 Начни зарабатывать вместе с Urban Share
                            p Рекомендуйте жилье от Urban Group<br> и получайте % с продаж.
                        div.page-header__block
                            a(href="#form-register", data-modal).btn._full ПРИСОЕДЕНИТЬСЯ

        .container
            .inner
                section.section._white
                    h3 Открой бизнес-возможности с Urban Share
                    .tlt-descr Делится впечатлениями от встречи с URBAN GROUP<br> и зарабатывать вознаграждения!

                    .info-block
                        .info-block__tlt Как это работает

                        .tripple
                            .tripple__block
                                .tripple__icon._register
                                .tripple__tlt Зарегистрируйтесь<br>
                                    a(href="") в личном кабинете<br>
                                    | за 20 секунд

                            .tripple__block
                                .tripple__icon._share
                                .tripple__tlt Рекомендуйте Urban Group<br> друзьям и знакомым, добавив их контакты в личный кабинет

                            .tripple__block
                                .tripple__icon._money
                                .tripple__tlt Получайте бонусные баллы с каждой сделки и обменивайте их на деньги

                        .center
                            a(href="").btn._full Зарегистрироваться

                section.section._banner
                    .banner._large
                        .banner__tlt 4 успешных<br> рекомендации ≈
                        .banner__bonus 100 000
                            span= ' ₽'

                section.section
                    h2 Калькулятор вашей выгоды
                    .tlt-descr Узнайте, сколько вы получите бонусов

                    .calculator
                        .calculator__tlt 1 %
                            span  от каждой сделки

                        .calculator__inner
                            header.calculator-header
                                .calculator-header__tlt Стоимость квартиры вашего друга/знакомого

                                div.calculator-slider
                                    label.calculator-slider__lbl(data-label="Стоимость квартиры")
                                        div.calculator-slider__inpt-wrap(data-descr="₽")
                                            input.calculator-slider__inpt(id="calculator-input", value="10 800 000", type="text")
                                    div.slider-range(id="calculator-range", data-ui-slider, data-step="10", data-max-range="30000000", data-min-range="0")

                            .calculator-table
                                header.calculator-table__header
                                    .calculator-table__row
                                        .calculator-table__col Способ использования<br> (на выбор)
                                        .calculator-table__col Бонусы<br> для участников

                                .calculator-table__body
                                    .calculator-table__row
                                        .calculator-table__col Покупка машиноместа
                                        .calculator-table__col
                                            span(data-bonus="1.5") 162 000
                                            = ' ₽'

                                    .calculator-table__row
                                        .calculator-table__col Покупка кладовки
                                        .calculator-table__col
                                            span(data-bonus="1.2") 129 600
                                            = ' ₽'

                                    .calculator-table__row
                                        .calculator-table__col Покупка квартиры
                                        .calculator-table__col
                                            span(data-bonus="1.1") 118 800
                                            = ' ₽'

                                    .calculator-table__row
                                        .calculator-table__col Денежная компенсация
                                        .calculator-table__col
                                            span(data-bonus="0.9") 97 200
                                            = ' ₽'

                section.section._double
                    .section__inner
                        .contact-block._callback
                            .contact-block__tlt Остались вопросы?
                                span Получить персональную консультацию
                            .contact-block__btn
                                a(href="").btn._full Заказать звонок

                    .section__inner
                        .contact-block._register
                            .contact-block__tlt Хотите попробовать прямо сейчас?
                            .contact-block__btn
                                a(href="").btn._full Зарегистрироваться


block page_bottom
