extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-login

block content
    .content
        .container
            .inner
                section.section._double._padding
                    .section__inner
                        h2.align-left Список страниц

                        ul.site-map
                            li
                                a(href="about.html") О компании
                            li
                                a(href="partners.html") Страница партнера
                            li
                                a(href="news.html") Страница новости
                            li
                                a(href="sale.html") Распродажа
                            li
                                a(href="bonus.html") Бонус

                    .section__inner
                        h2.align-left Формы

                        ul.site-map
                            li
                                a(href="#form-register", data-modal) Регистрация
                            li
                                a(href="#form-register", data-modal) Вход
                            li
                                a(href="#form-partner", data-modal) Заявка на партнерство
                            li
                                a(href="#form-cabinet-enter", data-modal) Вход в личный кабинет
                            li
                                a(href="#form-call-order", data-modal) Заказать звонок
                            li
                                a(href="#form-pass-remind", data-modal) Восстановление пароля
                            li
                                a(href="#cards-available", data-modal) Варианты карт

block page_bottom
