include includes/mixins/index
doctype html
block vars
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title #{title} | Серебрица
        link(rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32")
        link(href='css/vendor.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        //-script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgwCszD5PddY0f4vXnkK_09buHklVYhcA&region=RU")
    body.body
        block header
        block content

        include tpl/footer
        include tpl/popups
        #pagePreloader.Preloader.Preloader-active
        script(src='js/vendor.js')
        script(src='js/common.js')
        block page_bottom
