extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-2-login

block content
    .content
        .container
            .inner
                section.section._white
                    .news
                        header.news__header.news-header
                            .news-header__date 02. 09. 2017
                            h1 Модели лояльности! (заголовок)

                        .widget-content
                            article
                                p
                                    img(src="img/news/news-blank.jpg", alt="")

                                h2 3 примера необычных программ лояльности для постоянных клиентов (подзаголовок)

                                p
                                    strong Авторы:

                                p Колынин Игорь , Липовой Дмитрий , Маханик Светлана , Сундатова Наталья

                                p Какие интересные опции предложить клиентам: опыт компании «Петрович» Как искать партнеров: опыт компании «Урбан Групп» Почему в сети магазинов William & Oliver варят пасту От постоянного снижения цен продажи не увеличиваются, свидетельствуют результаты исследования оператора программ клиентской лояльности Maritz Loyalty Marketing.

                                p Скидки и накопленные баллы в определенный момент перестают давать эффект. Люди хотят чего-то большего. Как удерживать постоянных клиентов и повышать ценность тех, кто покупает меньше? «Генеральный Директор» собрал опыт компаний, создавших успешные программы лояльности для постоянных клиентов и клиентские клубы. А также приоткрыл тайны механизма работы таких клубов. Биржа труда на сайте клуба клиентов как программа лояльности Игорь Колынин, Директор по маркетингу компании «Петрович», Санкт-Петербург.

                            article
                                p
                                    strong Список

                                ul
                                    li Гастрономические туры для гурманов. Знакомим с гастрономической культурой других стран. Приводим на кухню, показываем процесс приготовления блюд под руководством местного шеф-повара, учим разбираться в качестве продуктов. Туристические направления планируем расширять, но только в пределах России.
                                    li Карта в телефоне. Все покупки заносятся в историю карты лояльности. Клиент получает скидку до 10% в зависимости от накопленной суммы с предыдущих покупок. Владельцы дисконтных карт имеют преимущество во время сезонных распродаж. Одной картой может пользоваться как сам клиент, так и его родственники или друзья. Карту можно хранить в телефоне, скачав приложение для iOS или Android. Приложение напоминает клиентам о себе, следит за историей покупок, отражает скидки и текущие накопления, рассказывает о мероприятиях и новостях сети. Им пользуется более 5 тыс. человек.
                                    li Кулинарный мастер-класс в магазине. Два повара-консультанта отвечают за происходящее на открытой кухне в магазине. Программа называется «Простые рецепты». Многие кухонные инструменты требуют определенного умения, и мы показываем, как ими пользоваться. И в формате мастер-класса демонстрируем клиенту способы приготовления несложных блюд с использованием представленной в магазине продукции.

                            article
                                p
                                    strong Список

                                ol
                                    li Разнообразие услуг для членов клуба. Мы выделили 200 опций, отвечающих нуждам повседневной жизни. Из них половина нестандартных, например: концерт с танцами народов севера или поездка к верблюдам. Это изюминка нашего клуба – не ограничиваться списком товаров и услуг для новоселов. Мы договариваемся с партнерами о постоянных и сезонных скидках, промо- и кросс-акциях, спецпредложениях, привилегиях для участников клуба.
                                    li Экономическая выгода. По нашим расчетам, экономия для владельцев золотой клубной карты может достигать 290 тыс. руб. в год.
                                    li Большое число партнеров. Среди партнеров нашей клубной программы магазины, салоны красоты, фитнес-центры, медицинские учреждения, операторы сотовой связи и таксомоторные парки. На сайте клуба есть отдельный раздел для партнеров. В нем прописаны условия сотрудничества. В партнерской программе участвует более 270 организаций.

                            article
                                p
                                    strong Пример цитаты:

                                blockquote «У вас не может НЕ быть опыта, так что учитесь делать его запоминающимся».

                        footer.partners-footer
                            .partners-footer__block
                                    a(href="").watch-more Все новости
block page_bottom
