extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-2-logout

block content
    .content
        .container
            .inner
                section.section._white
                    .partners
                        header.partners__header.partners-header
                            .partners-header__img
                                img(src="img/techno-logo.jpg", alt="")
                            h1 Технопарк
                                span Сеть магазинов бытовой техники и электроники

                        .widget-content
                            p «Технопарк» — это сеть магазинов бытовой техники и электроники, эксперт в области первоклассного сервиса и качества представляемой продукции.

                            p Философия Технопарка — делать жизнь более комфортной, предлагая особенную технику людям, стремящимся к высокому уровню жизни.

                            p Наша цель — достичь выдающихся результатов и бескомпромиссного качества, уделяя внимание каждой детали.

                            p Свою историю компания начала в 1992 году с открытия первого специализированного магазина по продаже электроники и бытовой техники. Сегодня «Технопарк» представляет собой динамично развивающуюся компанию, включающую в себя более 60 магазинов в Москве и 16 супермаркетов в регионах России.

                            article
                                h2 Как получить Сертификат:
                                p При бронировании квартиры или подписании договора долевого участия предоставляется Сертификат «Технопарк» номиналом 10 000 р. для покупки бытовой техники. Сертификатом можно оплатить до 20% от стоимости товара.

                            article
                                h2 Как получить скидку:
                                p Сертификатом можно оплатить до 20% от стоимости товаров БТ, КБТ и Товаров для дома. Не допускается использование более одного Сертификата на один чек. Сертификатом можно воспользоваться во всех магазинах Технопарк. При возврате товара Сертификат не возвращается.

                            footer.partners-footer
                                .partners-footer__block
                                    p
                                        strong Телефон:
                                        =' +7 (495) 755-88-88'
                                    p
                                        strong Сайт:&nbsp;
                                        a(href="http:technopark.ru", target="_blank") technopark.ru

                                .partners-footer__block._flex-row
                                    div.discount
                                        span.discount__inner Скидки до
                                            span
                                                = ' 25 %'
                                        div.discount__descr Скидка доступна зарегистрированным пользователям

                                    a(href="").btn._full зарегистрироваться

                                .partners-footer__block._flex-row
                                    div.discount._authed._classic
                                        span.discount__inner 5 % — ваша скидка

                                    a(href="").btn._full получить скидку больше

                                .partners-footer__block._flex-row
                                    div.discount._authed._silver
                                        span.discount__inner 15 % — ваша скидка

                                    a(href="").btn._full получить скидку больше

                                .partners-footer__block._flex-row
                                    div.discount._authed._gold
                                        span.discount__inner 25 % — ваша скидка

                                .partners-footer__block
                                    a(href="").watch-more Все партнеры


block page_bottom
