extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-login

block content
    .content
        .page-header._sale(style="background-image: url('img/background/bg-image_1.jpg')")
            .container
                .inner
                    .page-header__inner
                        div.page-header__block
                            .logo-white
                        div.page-header__block
                            h1 Получай скидки
                            p Вступайте в программу Urban Share и<br> совершайте выгодные покупки со скидками до 25%!
                        div.page-header__block
                            a(href="").btn._full ПРИСОЕДЕНИТЬСЯ

        .container
            .inner
                section.section._white
                    h3 Покупки с Urban Share еще выгоднее!
                    .tlt-descr URBAN SHARE — это новые возможности для единомышленников Urban Group.<br> Качество жизни вместе с нами, выгодные покупки популярных брендов<br> и сервис от компаний-партнеров.

                    .info-block
                        .info-block__tlt Три простых шага, как получить скидки у наших партнеров

                        .tripple
                            .tripple__block
                                .tripple__icon._card
                                .tripple__tlt Оформите карту<br> Urban Share

                            .tripple__block
                                .tripple__icon._point
                                .tripple__tlt Выбирайте партнеров из разных категорий

                            .tripple__block
                                .tripple__icon._gift
                                .tripple__tlt Получайте выгодные спецпредложения

                section.section
                    h2 Карты Urban Share
                    .tlt-descr Совершайте покупки по карте Urban Share и получайте скидки до 25%

                    .slider-tabs-mob
                        .slider-tabs-mob__item._active Классическая
                        .slider-tabs-mob__item Серебряная
                        .slider-tabs-mob__item Золотая

                    .slider(data-slider)
                        .slider__item
                            .card-type-wrapper
                                .card-type-wrapper__tlt Классическая карта

                                .card-type
                                    header.card-type__header.card-type-header
                                        .card-type-header__item._benefits(data-tlt="ваша выгода до") 90 000 ₽
                                            span /год
                                        .card-type-header__item._discount(data-tlt="скидки до") 7 %

                                    .card-type__img
                                        img(src="img/cards/classic.jpg", alt="")

                                    .card-type__descr Для всех посетителей сайта, в декабре 2017 года

                        .slider__item
                            .card-type-wrapper
                                .card-type-wrapper__tlt Классическая карта

                                .card-type
                                    header.card-type__header.card-type-header
                                        .card-type-header__item._benefits(data-tlt="ваша выгода до") 150 000 ₽
                                            span /год
                                        .card-type-header__item._discount(data-tlt="скидки до") 15 %

                                    .card-type__img
                                        img(src="img/cards/gold.jpg", alt="")

                                    .card-type__descr В офисах продаж<br> Жилых комплексов Urban Group

                        .slider__item
                            .card-type-wrapper
                                .card-type-wrapper__tlt Классическая карта

                                .card-type
                                    header.card-type__header.card-type-header
                                        .card-type-header__item._benefits(data-tlt="ваша выгода до") 290 000 ₽
                                            span /год
                                        .card-type-header__item._discount(data-tlt="скидки до") 25 %

                                    .card-type__img
                                        img(src="img/cards/silver.jpg", alt="")

                                    .card-type__descr При покупке квартиры в Жилом комплексе Urban Group

                    .get-card
                        .get-card__tlt Используйте Вашу карту Urban Share при оплате услуг наших партнеров и для Вас будут действовать специальные скидки и акции.
                        p.center
                            a(href="").btn._full Получить карту

                section.section
                    h2 Партнеры URBAN SHARE
                    .tlt-descr Более 1 000 магазинов, ресторанов и услуг

                    .products
                        header.products__header.products-header
                            form(action="", method="post").products-form
                                .products-search
                                    input(type="text", placeholder="Найти...", required, data-products-search).products-search__txt
                                    input(type="submit", value="").products-search__sbmt

                                .product-categories-mob
                                    a(href="", data-categories).btn._gray Категории
                                    .product-categories-mob__popup
                                        header.product-categories-mob__header
                                            span.product-categories-mob__tlt Категории
                                            em.product-categories-mob__close(data-categories-close)

                                        div.product-categories-mob-list
                                            a(href="").product-categories-mob-list__item._active Все партнеры
                                            a(href="").product-categories-mob-list__item Услуги
                                            a(href="").product-categories-mob-list__item Одежда и обувь
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота
                                            a(href="").product-categories-mob-list__item Все партнеры
                                            a(href="").product-categories-mob-list__item Услуги
                                            a(href="").product-categories-mob-list__item Одежда и обувь
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота

                                .products-categories
                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[0]", checked).products-categories__inp
                                        span.products-categories__name Все партнеры

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[1]").products-categories__inp
                                        span.products-categories__name Электроника

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[2]").products-categories__inp
                                        span.products-categories__name Мебель и ремонт

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[3]").products-categories__inp
                                        span.products-categories__name Одежда и обувь

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[4]").products-categories__inp
                                        span.products-categories__name Продукты

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[5]").products-categories__inp
                                        span.products-categories__name Путешествия

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[6]").products-categories__inp
                                        span.products-categories__name Авто и запчасти

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[7]").products-categories__inp
                                        span.products-categories__name Ювелирные изделия

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[8]").products-categories__inp
                                        span.products-categories__name Здоровье и красота

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[9]").products-categories__inp
                                        span.products-categories__name Товары для дома

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[10]").products-categories__inp
                                        span.products-categories__name Образование

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[11]").products-categories__inp
                                        span.products-categories__name Туризм и авиабилеты

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[12]").products-categories__inp
                                        span.products-categories__name страхование

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[13]").products-categories__inp
                                        span.products-categories__name Развлечения

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[14]").products-categories__inp
                                        span.products-categories__name Рестораны

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[15]").products-categories__inp
                                        span.products-categories__name Детские товары

                        .products-list
                            a(href="").products-list__item
                                .products-list__name Стать партнером
                                .products-list__descr У вас есть желание увеличить продажи вашей компании — станьте партнером программы Urban Share

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/aeroflot.jpg", alt="")
                                .products-list__name Аэрофлот
                                .products-list__descr Авиакомпания - лидер авиаперевозок в России

                                footer.products-list__footer до
                                    span= ' 15 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/technopark.jpg", alt="")
                                .products-list__name Технопарк
                                .products-list__descr Магазины бытовой техники и электроники

                                footer.products-list__footer до
                                    span= ' 7 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/lukoil.jpg", alt="")
                                .products-list__name Лукойл
                                .products-list__descr Сеть АЗС

                                footer.products-list__footer до
                                    span= ' 25 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/aeroflot.jpg", alt="")
                                .products-list__name Аэрофлот
                                .products-list__descr Авиакомпания - лидер авиаперевозок в России

                                footer.products-list__footer до
                                    span= ' 15 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/technopark.jpg", alt="")
                                .products-list__name Технопарк
                                .products-list__descr Магазины бытовой техники и электроники

                                footer.products-list__footer до
                                    span= ' 7 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/lukoil.jpg", alt="")
                                .products-list__name Лукойл
                                .products-list__descr Сеть АЗС

                                footer.products-list__footer до
                                    span= ' 25 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/aeroflot.jpg", alt="")
                                .products-list__name Аэрофлот
                                .products-list__descr Авиакомпания - лидер авиаперевозок в России

                                footer.products-list__footer до
                                    span= ' 15 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/technopark.jpg", alt="")
                                .products-list__name Технопарк
                                .products-list__descr Магазины бытовой техники и электроники

                                footer.products-list__footer до
                                    span= ' 7 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/lukoil.jpg", alt="")
                                .products-list__name Лукойл
                                .products-list__descr Сеть АЗС

                                footer.products-list__footer до
                                    span= ' 25 %'

                        .products-list-more.center
                            a(href="", data-show-more="partners").btn._loading показать еще…

block page_bottom
