footer.footer
    div.container
        div.inner
            .footer__back(data-arr-up)
            div.footer-top
                a(href="").logo-footer

                nav.footer-nav
                    a(href="").footer-nav__item Об Urban Share
                    a(href="").footer-nav__item Получить скидки
                    a(href="").footer-nav__item Заработать
                    a(href="").footer-nav__item._pdf
                        .icon
                            img(src="img/pdf.svg", alt="")
                        span Правила Участия в Urban Share

                div.footer-soc
                    a(href="").footer-soc__item._vk
                    a(href="").footer-soc__item._fb

            div.footer-bottom
                div.footer-bottom__block
                    p
                        a(href="") Политика
                        =' и '
                        a(href="") соглашение
                        =' на обработку персональных данных.'

                    p Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.

                div.footer-bottom__block
                    p © Urban Group, 2017
                    p
                        a(href="").logo-gray
