div.container._header
    header.header._logout
        div.header__part
            a(href="#", data-menu-toggle).burger
            a(href="").logo-header

            nav.header-nav
                a(href="").header-nav__item._active Об Urban Share
                a(href="").header-nav__item Получить скидки
                a(href="").header-nav__item Заработать

        div.header__part
            div.header-cabinet
                a(href="tel:+74951627740", title="+7 (495) 162-77-40").phone +7 (495) 162-77-40
                div.header-log
                    a(href="").btn._simple Зарегистрироваться
                a(href="").login-btn._login Войти

            a(href="").logo-urban-group

include mobile-nav
