nav.mobile-menu
    .mobile-menu__inner
        em(data-menu-close).mobile-menu__close

        .mobile-menu__block
            .mobile-nav
                a(href="").mobile-nav__link Об  Urban Share
                a(href="").mobile-nav__link Получить скидки
                a(href="").mobile-nav__link Заработать

        .mobile-menu__block
            a(href="", data-notification="8").mobile-menu__cabinet.header-logout__link Личный кабинет

        .mobile-menu__block
            a(href="tel:+74951627740").phone +7 (495) 162-77-40

        .mobile-menu__block
            a(href="").btn._full Зарегистрироваться
