div(style="display: none")
    div#form-register.popup-form
        .popup-form__tlt Регистрация

        form(action="").form
            .form__step
                input(type="text", name="register_sec-name", placeholder="Фамилия", required).form__inp

            .form__step
                input(type="text", name="register_name", placeholder="Имя", required).form__inp

            .form__step
                input(type="text", name="register_third-name", placeholder="Отчество").form__inp

            .form__step
                input(type="text", name="register_address", placeholder="Адрес").form__inp

            .form__step
                input(type="tel", name="register_phone", placeholder="Телефон", required, data-phone).form__inp

            .form__step
                input(type="email", name="register_email", placeholder="Электронная почта", required).form__inp

            .form__step
                label.agreement
                    input(type="checkbox", name="register_agreement", checked, required)
                    span Я согласен(на) и принимаю
                        = ' '
                        a(href="") правила участия в Urban Share.
                        = ' Ознакомлен с '
                        a(href="") Политикой и соглашением
                        = ' на обработку персональных данных.'

            .form__step
                input(type="submit", value="Зарегистрироваться").btn._full

    div#form-partner.popup-form
        .popup-form__tlt Заявка на партнерство

        form(action="").form
            .form__step
                input(type="text", name="partner_company", placeholder="Наименование компании", required).form__inp

            .form__step
                input(type="text", name="partner_site", placeholder="Ссылка на сайт компании", required).form__inp

            .form__step
                select(data-custom-select)
                    option(value="0", disabled, selected) Тип товара или услуг
                    option(value="product_type[0]") Услуги
                    option(value="product_type[1]") Одежда и обувь
                    option(value="product_type[2]") Мебель и ремонт
                    option(value="product_type[3]") Детские товары
                    option(value="product_type[4]") Здоровье и красота
                    option(value="product_type[5]") Мебель и ремонт

            .form__step
                input(type="text", name="partner_company", placeholder="Адрес").form__inp

            .form__step
                input(type="tel", name="partner_phone", placeholder="Телефон", required, data-phone).form__inp

            .form__step
                input(type="email", name="partner_email", placeholder="Электронная почта", required).form__inp

            .form__step
                label.agreement
                    input(type="checkbox", name="partner_agreement", checked, required)
                    span Я согласен(на) и принимаю
                        = ' '
                        a(href="") правила участия в Urban Share.
                        = ' Ознакомлен с '
                        a(href="") Политикой и соглашением
                        = ' на обработку персональных данных.'

            .form__step
                input(type="submit", value="Отправить заявку").btn._full

    div#form-cabinet-enter.popup-form
        .popup-form__tlt Вход в личный кабинет

        form(action="").form
            .form__step
                textarea(name="partner_company", data-placeholder, placeholder="Электронная почта \nили номер мобильного телефона", required).form__txtarea

            .form__step
                input(type="password", name="partner_site", placeholder="Пароль", required).form__inp

            .form__step
                input(type="submit", value="Войти").btn._full
                .center
                    a(href="") Забыли пароль?

    div#form-call-order.popup-form
        .popup-form__tlt Заказать звонок

        form(action="").form
            .form__step
                input(type="tel", name="order_phone", placeholder="Телефон", required, data-phone).form__inp

            .form__step
                label.agreement
                    input(type="checkbox", name="partner_agreement", checked, required)
                    span Я согласен(на) и принимаю
                        = ' '
                        a(href="") правила участия в Urban Share.
                        = ' Ознакомлен с '
                        a(href="") Политикой и соглашением
                        = ' на обработку персональных данных.'

            .form__step
                input(type="submit", value="Позвоните мне").btn._full

    div#form-pass-remind.popup-form
        .popup-form__tlt Восстановление пароля

        form(action="").form
            .form__step
                textarea(name="partner_company", data-placeholder, placeholder="Электронная почта \nили номер мобильного телефона", required).form__txtarea

            .form__step
                input(type="submit", value="Позвоните мне").btn._full

    div#cards-available.popup-form._cards
        div.popup-cards
            div.popup-cards__current Ваша карта: «Классическая»
            div.popup-cards__tlt Как получить дополнительные привилегии и скидки:

            div.popup-cards-list
                div.popup-cards-list__item.popup-card
                    div.popup-card__part
                        div.popup-card__tlt Серебряная карта

                        div.popup-card__type-mob
                            div.discount._authed._silver
                                span.discount__inner до 15 %

                        div.popup-card-get
                            div.popup-card-get__item
                                span Способ №1:
                                a(href="") Рекомендуйте друга или знакомого

                            div.popup-card-get__item
                                span Способ №2:
                                a(href="") Посетите офис продаж

                    div.popup-card__part
                        .card-type
                            header.card-type__header.card-type-header
                                .card-type-header__item._benefits(data-tlt="ваша выгода до") 150 000 ₽
                                    span /год
                                .card-type-header__item._discount(data-tlt="скидки до") 15 %

                            .card-type__img
                                img(src="img/cards/silver.jpg", alt="")

                div.popup-cards-list__item.popup-card
                    div.popup-card__part
                        div.popup-card__tlt Серебряная карта

                        div.popup-card__type-mob
                            div.discount._authed._gold
                                span.discount__inner до 25 %

                        div.popup-card-get
                            div.popup-card-get__item
                                span Способ №1:
                                a(href="") Совершите успешную рекомендацию

                            div.popup-card-get__item
                                span Способ №2:
                                a(href="") Купите квартиру в Urban Group

                    div.popup-card__part
                        .card-type
                            header.card-type__header.card-type-header
                                .card-type-header__item._benefits(data-tlt="ваша выгода до") 250 000 ₽
                                    span /год
                                .card-type-header__item._discount(data-tlt="скидки до") 25 %

                            .card-type__img
                                img(src="img/cards/gold.jpg", alt="")



