*
    &:focus
        outline none

html,
body
    height 100%
    min-width 320px

body
    font-family "Roboto", Arial, Helvetica, sans-serif;
    font-weight 400
    line-height 1.2
    color $black

    &._categories
        overflow hidden

        .product-categories-mob__popup
            transform translateY(0)
            visibility visible

        .header
            display none

a
    transition all 0.2s linear
    color $gray
    text-decoration none

    &:hover
        text-decoration underline

h1,
h2,
h3
    text-align center

h1
    font-weight 300

h2
    font-weight 100
    color $black
    font-size 40px
    margin-bottom 24px

    @media $max1024
        font-size 20px
        line-height 30px
        margin-bottom 16px

h3
    font-weight 300
    color $black
    font-size 32px
    line-height 42px

.icon
    display block

    .vk
        width 17px
        height 10px

        &:hover
            fill: $red

    .fb
        width 7px
        height 12px

.logo-gray
    display inline-block
    width 66px
    height 31px
    background transparent url('../img/urban-logo-footer.svg') 0 0 no-repeat
    background-size cover

.logo-white
    display block
    width 116px
    height 74px
    background transparent url('../img/logos-white.svg') 0 0 no-repeat
    background-size cover

.logo
    display block

.btn
    transition ease .3s all
    display inline-block
    padding 0 40px
    font-size 12px
    letter-spacing 1.5px
    text-transform uppercase
    border none
    cursor pointer

    &:hover
        text-decoration none

    &._simple
        border solid 2px $red
        font-size 13px
        height 37px
        line-height 33px
        color $red
        border-radius 24.5px
        font-weight 500

        &:hover
            background-color $red
            color $white
            text-decoration none

    &._full
        background-color $red
        color $white
        font-size 12px
        font-weight 700
        letter-spacing 1.5px
        height 54px
        line-height 54px
        border-radius 27px

        &:hover
            background-color $redHover

    &._white
        border solid 2px $white
        color $white
        border-radius 27px
        background-color #af0149

        &:hover
            background-color $red

    &._gray
        display inline-block
        min-width 230px
        padding 0 30px
        color #333
        font-size 12px
        font-weight 900
        border solid 1px $gray
        border-radius 22.5px
        height 48px
        line-height 46px

    &._loading
        position relative
        padding 0
        color $black
        font-weight 900

        &._active
            padding-left 26.5px

            &:hover
                text-decoration none

            &:before
                animation: rotating 0.65s linear infinite;
                content ''
                position absolute
                left 0
                top 50%
                margin-top -7px
                width 14px
                height 14px
                background transparent url('../img/loading.svg') 0 0 no-repeat

    @media $max1024
        width 250px
        text-align center

        &._loading
            width auto
            font-size 13px
            letter-spacing .5px

.page-header
    color $white
    text-align center
    font-size 24px
    margin-top -30px
    background transparent 50% 50% no-repeat
    background-size cover

    @media $max1024
        margin-top -10px

    &._about
        @media $max1024
            background-position -178px 0
            background-size auto 80%

        @media $max690
            background-size cover
            background-position 50% 0
            background-image url('../img/background/bg-image_5.jpg') !important

    &._bonus
        @media $max1024
            background-position -178px 0
            background-size auto 80%

        @media $max690
            background-size cover
            background-position 50% 0
            background-image url('../img/background/bg-image_3.jpg') !important

    &._sale
        @media $max1024
            background-position -178px 0
            background-size auto 80%

        @media $max690
            background-size cover
            background-position 50% 0
            background-image url('../img/background/bg-image_4.jpg') !important

    h1
        font-weight 300
        font-size 48px
        text-transform uppercase
        margin-bottom 20px

        @media $max1024
            font-size 20px

    p
        font-size 24px
        line-height 30px

        @media $max1024
            font-size 16px
            line-height 24px

    &__inner
        height 600px
        padding-bottom 136px
        display flex
        flex-direction column
        justify-content center
        align-items center

        @media $max690
            height 516px
            width 290px
            margin 0 auto

    &__block
        @media $max1024
            margin-top 125px

            p
                line-height 25px
                letter-spacing .3px

        &:first-child
            margin-bottom 20px

            @media $max1024
                display none

        &:last-child
            margin-top 30px

    + .container
        margin-top -136px

        @media $max1024
            margin-top -170px

        @media $max690
            margin-top -110px

    @media $max1024
        font-size 16px
        font-weight 300

.discount

    + .btn
        width auto
        min-width 240px

    &__inner
        position relative
        padding-left 40px
        font-size 20px
        line-height 32px
        display block
        color $red
        font-weight 500

        &:before
            position absolute
            left 0
            top 0
            content ''
            width 30px
            height 30px
            background transparent url('../img/sale.svg') 0 0 no-repeat

        span
            font-size 30px
            font-weight 300

    &__descr
        font-size 13px
        color $gray

    &._authed
        .discount__inner
            padding-left 94px
            line-height 34px
            color $black

            &:before
                width 20px
                height 20px
                background-image url('../img/sale-gray.svg')
                background-size 100%
                left 66px
                top 50%
                margin-top -10px

            &:after
                content ''
                background transparent url('../img/card-classic-icon.svg') 0 0 no-repeat
                width 50px
                height 34px
                position absolute
                top 0
                left 0

    &._classic
        .discount__inner
            &:after
                background-image url('../img/card-classic-icon.svg')

    &._silver
        .discount__inner
            &:after
                background-image url('../img/card-silver-icon.svg')

    &._gold
        .discount__inner
            &:after
                background-image url('../img/card-gold-icon.svg')

.watch-more
    position relative
    display inline-block
    padding-right 20px
    font-size 12px
    color $red
    text-decoration none
    letter-spacing 1.5px
    font-weight 900
    text-transform uppercase

    &:after
        content ''
        position absolute
        right 0
        top 50%
        margin-top -2.75px
        width 9.5px
        height 5.5px
        background transparent url('../img/watch-more.svg') 0 0 no-repeat

    &:hover
        text-decoration none

        &:after
            animation: swiping 1s linear infinite;

.site-map
    padding-top 50px
    margin-bottom 50px

    li
        margin-bottom 40px
        list-style none

        &:last-child
            margin-bottom 0

    a
        color $red

.align-left
    text-align left

.widget-content
    p
        font-size 15px
        line-height 24px
        margin-bottom 15px
        letter-spacing .5px

        &:last-child
            margin-bottom 0

    article
        margin-top 30px
        margin-bottom 30px

    h2
        font-size 20px
        text-align left
        color $black
        font-weight 500
        margin-bottom 32px

    a
        color $red

    img
        display block
        max-width 100%

    ul,
    ol
        list-style-position outside
        padding-left 25px

        li
            padding-left 10px
            margin-bottom 25px
            font-size 15px
            line-height 26px

            &:last-child
                margin-bottom 0

    blockquote
        font-size 20px
        line-height 30px
        padding-left 30px
        border-left solid 3px $red
        font-weight 300

.center
    text-align center

.get-card
    margin-top 55px

    &__tlt
        font-size 20px
        line-height 30px
        text-align center
        color $black
        margin-bottom 32px

        @media $max1024
            font-size 16px
            line-height 24px

.ui-front
    z-index 1000000
