.ui-selectmenu-button
    &.ui-button
        background #fff
        border-bottom 1px solid #ccc
        border-radius 0
        color #333
        width 100%
        height 40px
        padding 0
        margin 0
        line-height 40px
        -webkit-transition all 0.3s ease
        transition all 0.3s ease
        overflow hidden
        text-overflow ellipsis

        &.ui-selectmenu-button-open
            border-radius 4px 4px 0 0
            border-color #818181 !important
            color #333

.ui-selectmenu-icon,
.ui-selectmenu-button.ui-button:hover .ui-selectmenu-icon
    transition ease .3s all
    float none
    position absolute
    right 25px
    top 50%
    background url('../img/select-arr.svg') center no-repeat !important
    width 13px
    height 8px
    margin-top -4px !important

.ui-button
    &.ui-selectmenu-button-open
        .ui-selectmenu-icon
            -webkit-transform rotate(-180deg)
            transform rotate(-180deg)

.ui-datepicker
    &.ui-widget-content
        border 1px solid #818181
        border-top-color #ccc
        border-radius 0 0 4px 4px
        margin-top -1px
        background-color #fff

.ui-menu
    .ui-menu-item-wrapper
        padding 0 25px
        margin 0
        max-width 478px
        height 58px
        line-height 58px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        border none
        font-family 'Open Sans'
        font-size 16px
    li
        list-style none !important

.ui-widget-content
    .ui-state-active
        border none
        background #f6f6f6
        color #333

.ui-selectmenu-text
    font-size 16px
    font-family 'Open Sans'
    font-weight normal

.ui-datepicker
    width 370px
    padding 24px 12px 16px
    box-shadow 0 2px 4px 1px rgba(39, 39, 39, 0.14)
    font-family "Open Sans", Arial, sans-serif
    color #333333
    table
        margin 0
    th
        color #999
    .ui-state-default
        background none
        border none
    .ui-datepicker-title
        margin 0

.ui-datepicker th,
.ui-datepicker td span,
.ui-datepicker td a
    border none
    padding 0
    text-align center
    width 42px
    height 42px
    font-size 15px
    line-height 36px
    font-weight normal

.ui-datepicker td span,
.ui-datepicker td a
    border-radius 50%
    transition all 0.1s
    display block
    border 2px solid #fff!important

.ui-datepicker td span.ui-state-active,
.ui-datepicker td a.ui-state-active,
.ui-datepicker td span:hover,
.ui-datepicker td a:hover
    background-color #b60050
    color #fff

.ui-datepicker-month,
.ui-datepicker-year
    float left
    display block
    position relative
    white-space nowrap
    font-size 15px
    font-weight 400
    line-height 22px
    padding 0 17px

.ui-datepicker-month
    min-width 120px

.ui-datepicker-year
    float right
    min-width 80px

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker-prev-year-arrow,
.ui-datepicker-next-year-arrow
    display block
    height 13px
    width 8px
    background-image url('img/arrow.png')
    background-position center
    background-size 100% 100%
    background-color transparent
    cursor pointer
    border none
    user-select none

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker-prev-year-arrow
    -webkit-transform scale(-1)
    -ms-transform scale(-1)
    transform scale(-1)

.order-form__sum
    font-size 16px
    color #333
    line-height 58px
    padding-left 22px

input
    &.datepicker
        background url(../img/icon_datepicker.png) calc(100% - 24px) center no-repeat #fff
    &.valid
        background url(../img/icon_ok.png) calc(100% - 20px) center no-repeat #fff
    &.error
        background url(../img/icon_error.png) calc(100% - 20px) center no-repeat #fff
        border-color #f64747 !important
        color #f64747 !important

.ui-menu
    background-color #fff
    border 1px solid #818181
    border-top-color #ccc
    border-radius 0 0 4px 4px
    margin-top -1px

.ui-state-default,
.ui-state-default:active
    color #333
