card()
    background: $white
    border-radius 6px
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);

@keyframes rotating
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(360deg)

@keyframes swiping
    0%
        transform: translateX(0px)
    25%
        transform: translateX(2px)
    50%
        transform: translateX(0px)
    75%
        transform: translateX(-2px)
    100%
        transform: translateX(0px)

@keyframes swiping-top
    0%
        transform: translateY(0px)
    25%
        transform: translateY(2px)
    50%
        transform: translateY(0px)
    75%
        transform: translateY(-2px)
    100%
        transform: translateY(0px)
