.slick-slider
    overflow visible

.slider-range
    height 4px
    margin-top -2px

.slider-range .ui-slider-handle
    display block
    width 34px
    height 34px
    box-shadow 0 2px 4px 0 #c2ccd8
    border solid 1px #c2ccd8
    border-radius 50%
    top -17px
    margin-left -17px
    background-color #fff
    -ms-touch-action none
    touch-action: none

.slider-range .ui-slider-handle:before
    content ''
    position absolute
    top 50%
    left 50%
    width 18px
    height 18px
    margin-top -9px
    margin-left -9px
    border-radius 50%
    background-color $red

.slider-range
    .ui-slider-handle
        &:focus
            outline none

        &.ui-state-active
            box-shadow none


.slider-range .ui-slider-range
    background-color $red

