.header
    transition ease .3s all
    position fixed
    top 0
    left 0
    right 0
    z-index 1000
    height 70px
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    background-color $white
    min-width 290px
    padding 0 30px

    &__part
        width 50%
        display flex
        flex-direction row
        justify-content space-around
        align-items center

        &:last-child
            justify-content flex-end

        @media $max1370
            width calc(100% - 370px)

            &:last-child
                width 370px

        @media $max1024
            width calc(50% + 30px)
            justify-content space-between

            &:last-child
                width auto
                justify-content flex-end

    &.nav-down
        top 0

    &.nav-up
        top -70px

    @media $max1024
        height 52px
        padding 0 15px

        &.nav-up
            top -52px

        .logo-header
            width 59px
            height 39px

        .header-log,
        .login-btn,
        .header-nav
            display none

    &._simple
        box-shadow: 0 2px 5px 0 rgba($black, .05)

        @media $max1024
            .phone,
            .logo-header
                display none

            .header-log,
            .login-btn
                display block

            .header-log
                margin-right 15px
                width 44px

            .header-logout__link
                overflow hidden
                padding 0
                color transparent

            .header-logout
                padding-left 0
                padding-right 15px
                border-left none

            .header-cabinet
                display flex

    &._logout
        @media $max1024
            .logo-header
                display none

            .header-log
                display block
                transform translateX(-50%)
                margin 0
                width auto

                .btn
                    padding 0 18px
                    width auto

            .header__part
                width 50%

                &:first-child
                    width 30px
            .phone
                display none

            .login-btn
                position: absolute
                right 15px
                display block
                width 16px
                height 16px
                overflow hidden
                color transparent
                padding 0
                background transparent url('../img/person.svg') 0 0 no-repeat

                &:before
                    display none

            .header-cabinet
                display flex
                width 100%
                justify-content space-between

.burger
    display none
    width 19px
    height 16px
    background transparent url('../img/burger.svg') 0 0 no-repeat

    @media $max1024
        display block

.logo-header
    display block
    width 76px
    height 49px
    background transparent url('../img/urban_logo.svg') 0 0 no-repeat
    background-size cover

.logo-urban-group
    display block
    width 65px
    height 30px
    background transparent url('../img/urban-group-logo.svg')
    background-size cover

    @media $max1370
        display none

.header-nav
    display flex
    flex-direction row

    &__item
        position relative
        margin-right 52px
        height 70px
        line-height 70px
        color $gray
        text-decoration none

        &:before
            content ''
            position absolute
            bottom 0
            left 0
            right 0
            height 4px
            background $red
            visibility hidden
            transform scaleX(0)
            transition all 0.2s linear

        @media $max1370
            margin-right 32px

        &:hover,
        &._active
            color $black
            text-decoration none

            &:before
                visibility visible
                transform scaleX(1)

        &:last-child
            margin-right 0

.header-cabinet
    display flex
    flex-direction row
    justify-content flex-end
    align-items center
    margin-right 55px

    @media $max1370
        margin-right 0

    @media $max1024
        display block

        + .logo
            display none

    .phone
        transition: none
        font-size 20px
        color $black
        margin-right 30px

        @media $max1370
            color transparent
            width 21px
            height 21px
            background transparent url('../img/phone.svg') 0 0 no-repeat

        @media $max1024
            margin-right 0
            display block
            width 21px
            overflow hidden

.header-log
    margin-right 20px

    .btn
        padding 0 30px

.login-btn
    position relative
    display block
    font-size 15px
    padding-right 23px

    &:before
        content ''
        display block
        position absolute
        right 0
        top 50%
        width 16px
        height 14px
        margin-top -6.5px
        background transparent 0 0 no-repeat

    &._login
        &:before
            background-image url('../img/log-in.svg')

    &._logout
        &:before
            background-image url('../img/log-out.svg')

.header-logout
    padding 0 20px
    border-left solid 1px #e6e6e6
    border-right solid 1px #e6e6e6

    &__link
        position relative
        display block
        font-size 15px
        max-width 186px
        text-overflow ellipsis
        overflow hidden
        white-space nowrap
        padding-left 31px
        line-height 36px

        &:before
            content ''
            position absolute
            left 0
            top 50%
            width 16px
            height 16px
            margin-top -8px
            background transparent url('../img/person.svg') 0 0 no-repeat

        &:after
            content attr(data-notification)
            position absolute
            left 8px
            top 0
            border-radius 50%
            background-color $red
            color $white
            font-weight 500
            font-size 12px
            width 20px
            height 20px
            line-height 20px
            text-align center

