.mobile-menu
    transition ease .3s transform
    position fixed
    left 0
    top 0
    bottom 0
    width: 83%
    background $white
    z-index 1000
    transform translateX(-100%)
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.12)
    overflow-y scroll

    &__inner
        min-height 375px
        display flex
        flex-direction column
        justify-content space-around
        padding-left 20px
        padding-top 45px
        height 100%

    &__cabinet
        height 67px
        line-height 67px
        border-top solid 1px #e2e2e2
        border-bottom solid 1px #e2e2e2
        margin-left -20px
        max-width none
        padding-left 50px

        &:before
            left 23px
            top 32px

        &:after
            left 28px
            top 13px

    &__close
        transition ease .3s transform
        width 15px
        height 16px
        display block
        position absolute
        left 20px
        top 20px
        background transparent url('../img/close.svg') 0 0 no-repeat
        cursor pointer

        &:hover
            transform rotate(180deg)

    .phone
        font-size 20px
        color $black

    .btn
        &._full
            width 240px

.body._active
    .mobile-menu
        transform translateX(0)

.mobile-nav
    &__link
        display block
        font-size 18px
        line-height 21px
        margin-bottom 24px
        color $grayTitle

        &:last-child
            margin-bottom 0
