script.
    window.ifrasObjsMarkers = [
    {
        "coords":
        {
            "lat": 55.800989,
            "lng": 37.636830,
        },
        "title": "Beef time",
        "type": 1,
        "ico": "/img/mappins/hospital.png"
    },
    {
        "coords":
        {
            "lat": 55.811920,
            "lng": 37.652567,
        },
        "title": "Фитнес клуб",
        "type": 2,
        "ico": "/img/mappins/training.png"
    },
    {
        "coords":
        {
            "lat": 55.816525,
            "lng": 37.662463,
        },
        "title": "Billa",
        "type": 3,
        "ico": "/img/mappins/shop.png"
    },
    {
        "coords":
        {
            "lat": 55.819392,
            "lng": 37.644501,
        },
        "title": "Cafe Sicilia",
        "type": 1,
        "ico": "/img/mappins/hospital.png"
    },
    {
        "coords":
        {
            "lat": 55.804135,
            "lng": 37.645137,
        },
        "title": "IMMA",
        "type": 5,
        "ico": "/img/mappins/school.png"
    },
    {
        "coords":
        {
            "lat": 55.810443,
            "lng": 37.655795,
        },
        "title": "Monaclub",
        "type": 6,
        "ico": "/img/mappins/purple.png"
    },
    {
        "coords":
        {
            "lat": 55.806087,
            "lng": 37.637936,
        },
        "title": "Oki Doki",
        "type": 7,
        "ico": "/img/mappins/swiming_man.png"
    },
    {
        "coords":
        {
            "lat": 55.813431,
            "lng": 37.650428,
        },
        "title": "Papa John’s",
        "type": 8,
        "ico": "/img/mappins/sand.png"
    },
    {
        "coords":
        {
            "lat": 55.801010,
            "lng": 37.633719,
        },
        "title": "Sun School",
        "type": 3,
        "ico": "/img/mappins/shop.png"
    }
    ];