#orderModal(style="display:none;")
    .FormModal
        h4.FormModal_title Здравствуйте!
        .FormModal_desc Введите ваши контактные данные, наш менеджер свяжется с Вами в ближайшее время и ответит на интересующие вас вопросы.
        .FormModal_form
            .FormModal_row
                label.FormModal_lbl 
                    span.FormModal_lblText Телефон #[small.FormModal_redStar *]
                    input.FormModal_inp(type="tel" placeholder="+7 (987) 654-32-10")
            .FormModal_row
                label.FormModal_lbl 
                    span.FormModal_lblText Имя #[small.FormModal_redStar *]
                    input.FormModal_inp(placeholder="Ваше имя")
            .FormModal_row
                label.FormModal_lbl 
                    span.FormModal_lblText Email
                    input(type="email" placeholder="example@yourmail.com").FormModal_inp
            .FormModal_row.FormModal_row-btn
               button(type="submit").flatModal_submitBtn.Btn.Btn-block Отправить
            .FormModal_hint #[small.FormModal_redStar *] поля обязательные к заполнению