.footer
    position relative
    border-top solid 4px $red

    .inner
        position: relative

    &__back
        transition ease .3s all
        position: absolute
        width 50px
        height 50px
        bottom 100%
        right 0
        margin-bottom 18px
        border solid 4px #f5f5f5
        border-radius 50%
        cursor pointer

        &:before
            content ''
            position: absolute
            top 50%
            left 50%
            width 17px
            height 18px
            margin -9px 0 0 -8.5px
            background transparent url('../img/up.svg') 0 0 no-repeat
            background-size cover

        &:hover
            border-color #ccc

            &:before
                animation: swiping-top 1s linear infinite;

        @media $max1024
            width 40px
            height 40px
            border-width 2px
            margin-bottom 14px

            &:before
                transform scale(.8) translate(-.5px, -.5px)

            &:hover
                &:before
                    animation none


.footer-top
    border-bottom solid 2px $grayBorder
    height 104px
    display flex
    flex-direction row
    justify-content space-between
    align-items center

    @media $max1024
        justify-content center
        height 77px

.logo-footer
    display block
    width 61px
    height 39px
    background transparent url('../img/logos-footer.svg') 0 0 no-repeat

    @media $max1024
        display none

.footer-soc
    display flex
    flex-direction row
    align-items center

    &__item
        display block
        margin-right 25px

        @media $max1024
            margin-right 30px

        &:hover
            opacity .6

        &:last-child
            margin-right 0

        &._vk
            width 17px
            height 10px
            background transparent url('../img/vk.svg') 0 0 no-repeat

            @media $max1024
                width 24px
                height 14px

        &._fb
            width 7px
            height 12px
            background transparent url('../img/facebook.svg') 0 0 no-repeat

            @media $max1024
                width 9px
                height 18px

.footer-nav
    display flex
    flex-direction row
    justify-content space-between
    align-items center

    &__item
        margin-right 32px
        color $gray
        font-size 15px
        line-height 26px

        &:hover
            text-decoration underline

        &:last-child
            margin-right 0

        &._pdf
            .icon
                display inline-block
                vertical-align top
                margin-right 8px
                line-height 26px

                img
                    display block

            span
                display inline-block
                vertical-align top

            &:hover
                span
                    text-decoration underline

    @media $max1024
        display none

.footer-bottom
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
    padding-top 32px
    font-size 13px
    line-height 16px
    color $grayLight
    min-height 168px

    p
        margin-bottom 15px
        color #666

        a
            color #666
            text-decoration underline

            &:hover
                text-decoration none

        &:last-child
            margin-bottom 0

    &__block
        max-width 385px

        &:last-child
            text-align right

            p
                &:last-child
                    text-align right

    @media $max1024
        flex-direction column
        padding-bottom 40px
        text-align center
        padding-top 28px

        &__block
            max-width none
            margin-bottom 25px
            width 100%

            &:last-child
                margin-bottom 0
                text-align center

                p
                    margin-bottom 0

                    &:last-child
                        display none
