.banner
    background-color #af0149
    border-radius 6px
    height 150px
    display flex
    flex-direction row
    justify-content center
    align-items center
    padding 0 80px

    &__tlt
        font-size 32px
        font-weight 300
        color $white
        margin-right 36px

    &__btn
        height 54px
        line-height 50px

    @media $max1024
        height auto
        padding 40px 20px
        flex-direction column

        &__tlt
            font-size 20px
            line-height 30px
            text-align center
            margin 0 0 30px
            padding 0 45px

    &._large
        padding 60px 98px
        background-image url('../img/background/banner-bg.jpg')
        background-position 50% 50%
        background-size cover
        height 343px
        display block

        .banner__tlt
            font-size 44px
            line-height 52px
            margin-bottom 24px

        .banner__bonus
            font-size 80px
            font-weight bold
            line-height 94px
            color $white

            span
                font-weight 400

        @media $max1024
            .banner__tlt
                text-align left
                padding 0

        @media $max690
            width 290px
            margin 0 auto
            height 433px
            padding 40px 20px
            background-image url('../img/background/banner-mob-bg.jpg')
            background-repeat no-repeat

            .banner__tlt
                font-size 30px
                line-height 38px
                padding 0
                margin-bottom 16px
                text-align left

            .banner__bonus
                font-size 52px
