.calculator
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.05)
    border-radius 6px
    padding 56px 0
    background-color $white

    &__tlt
        text-align center
        color $red
        font-size 24px
        margin-bottom 32px
        font-weight bold

        span
            display block
            font-size 13px
            color $black
            text-transform uppercase
            font-weight 500
            margin-top 16px


    &__inner
        max-width 754px
        margin 0 auto
        border solid 1px #c2ccd8;
        background-color $white
        padding 56px 98px
        border-radius 6px

        @media $max690
            padding 40px 15px

.calculator-header
    margin-bottom 55px

    &__tlt
        font-size 13px
        text-align center
        font-weight 500
        margin-bottom 16px
        line-height 15px
        letter-spacing .5px
        color #9299a2
        text-transform uppercase


.calculator-slider
    position relative
    max-width 362px
    margin 0 auto

    &__lbl
        display block
        border solid 1px #e2e2e2
        border-radius 6px 6px 0 0
        height 64px

    &__inpt-wrap
        height 100%
        border-radius 6px 6px 0 0

    &__inpt
        height 100%
        border none
        background none
        border-radius 6px 6px 0 0
        padding 0 40px 0 24px
        font-size 32px
        width 100%

.calculator-table
    &__header
        padding-bottom 34px
        border-bottom solid 1px #e2e2e2;

        @media $max690
            padding-bottom 10px
            margin-bottom 30px

        .calculator-table__row
            align-items flex-start
            &:before
                display none

        .calculator-table__col
            &:first-child,
            &:last-child
                font-size 20px
                color $black
                font-weight 400
                text-transform none

            &:last-child
                text-align right

            @media $max690
                &:first-child
                    display none

                &:last-child
                    text-align center

                    br
                        display none

    &__row
        position relative
        display flex
        flex-direction row
        justify-content space-between
        align-items flex-end
        padding 14px 0

        @media $max690
            display block
            padding 12px 0
            text-align center

        &:before
            content ''
            height 0
            border-top dashed 1px #9b9b9b
            width 100%
            position absolute
            left 0
            bottom 14px

    &__col
        position relative
        z-index 10
        display block
        background-color $white
        overflow hidden
        font-weight 300

        &:first-child
            font-size 13px
            color #9299a2
            text-transform uppercase
            padding-right 2px

        &:last-child
            font-size 32px
            line-height 34px
            padding-left 2px

