.card-banners
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    height 530px
    padding 234px 80px 80px
    background-color transparent
    background-position 50% 76px
    background-repeat no-repeat

    h3
        margin-bottom 24px

    .tlt-descr
        font-size 16px
        line-height 24px
        margin-bottom 40px

        @media $max1024
            font-size 14px
            line-height 21px
            margin-bottom 30px

    @media $max1024
        height 357px
        padding 120px 20px 40px
        background-position 50% 43px

    &._discount
        background-image: url('../img/card.svg')

        @media $max1024
            background-size 76px 59px

    &._work
        background-image: url('../img/bonus.svg')

        @media $max1024
            background-size 60px 59px



