.card-type-wrapper
    padding 55px 30px 45px
    width 300px
    height 494px
    margin 0 auto

    &__tlt
        font-size 24px
        line-height 30px
        margin-bottom 32px

    @media $max1024
        padding 32px 25px 25px
        width 290px

    @media $max690
        padding 32px 0 25px
        width 240px

.card-type
    &__img
        margin-bottom 24px

        img
            display block
            max-width 100%

    &__descr
        font-size 14px
        line-height 21px
        color $gray

.card-type-header
    display flex
    flex-direction row
    justify-content flex-start
    align-items flex-start
    margin-bottom 20px

    &__item
        position relative
        padding-top 55px

        &:first-child
            margin-right 15px
            padding-right 28px
            border-right solid 1px $grayBorder

        &:before
            content attr(data-tlt)
            font-size 14px
            color $gray
            position absolute
            bottom 30px
            left 0
            white-space nowrap
            font-weight normal

        &:after
            content ''
            position absolute
            bottom 60px
            left 0
            background-color transparent
            background-position 0 0
            background-repeat no-repeat

        &._benefits
            font-size 24px
            line-height 30px

            span
                font-size 16px

            &:after
                width 20px
                height 22px
                background-image url('../img/benefit.svg')

        &._discount
            font-size 24px
            color $red
            font-weight bold

            &:after
                width 20px
                height 20px
                background-image url('../img/sale-gray.svg')
