.body
    transition ease .3s padding
    display flex
    flex-direction column
    min-height 100vh
    background-color $grayBg
    min-width 320px
    padding-top 100px

    @media $max1024
        padding-top 62px

    &:before
        transition ease .3s background
        content ''
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        z-index 0
        background transparent

    &._active
        overflow hidden

        &:before
            background #9b9b9b
            z-index 800

    &._fixed
        .header
            box-shadow: 0 2px 5px 0 rgba($black, .05)

.content
    position relative
    z-index 100
    flex 1
    padding-bottom 148px

    @media $max1024
        padding-bottom 60px

.container
    position relative
    z-index 100
    width 100%
    padding 0 30px

    &._header
        z-index 200

    @media $max1024
        padding 0 15px

.inner
    max-width $containerWidth
    margin 0 auto

.section
    margin-bottom 32px
    padding 72px 0 0

    @media $max1024
        margin-bottom 40px
        padding 32px 0 0

    @media $max690
        + .section
            padding-top 8px

    &:last-child
        margin-bottom 0
        padding-bottom 0

    &._white
        padding 72px 98px
        card()

        @media $max1024
            padding 40px 20px

        @media $max690
            + .section
                padding-top 0

    &._double
        display flex
        flex-direction row
        justify-content flex-start

        @media $max1024
            display block

    &._padding
        .section__inner
            padding 40px

    &._banner
        padding-top 0

        + .section
            padding-top 47px

    &__inner
        width calc(50% - 15px)
        margin-right 30px
        card()

        &:last-child
            margin-right 0

        @media $max1024
            width 100%
            margin-right 0
            margin-bottom 17px

            &:last-child
                margin-bottom 0

    + ._double
        padding-top 0

    h3
        color $black
        font-size 32px
        text-align center
        margin-bottom 24px

        @media $max1024
            font-size 19px
            line-height 30px
            margin-bottom 15px

.tlt-descr
    font-size 20px
    font-weight 400
    color $gray
    text-align center
    line-height 30px
    margin-bottom 56px

    &:last-child
        margin-bottom 0

    @media $max1024
        font-size 14px
        line-height 21px
        margin-bottom 35px

        br
            display none

    @media $max690
        margin-bottom 0

.info-block
    position relative
    padding-top 56px

    @media $max690
        padding-top 34px

    &__tlt
        color $black
        font-size 24px
        line-height 30px
        text-align center
        margin-bottom 48px

        @media $max690
            font-size 16px
            line-height 24px
            max-width 65%
            margin 0 auto 32px

    &:before
        content ''
        position: absolute
        top 0
        left 50%
        transform translateX(-50%)
        width 65px
        height 2px
        background-color $red

.tripple
    display flex
    flex-direction row
    justify-content space-between
    flex-wrap wrap
    align-items center

    &__block
        position: relative
        min-width 210px
        width calc(33.33% - 40px)
        margin-right 60px
        margin-bottom 60px

        &:before
            content ''
            width 100%
            border dashed 1px #9299a2
            position: absolute
            top 56px
            left 50%

        &:after
            content ''
            position absolute
            left 100%
            margin-left 10px
            width 41px
            height 16px
            top 49px
            background transparent url('../img/arrow.svg') 0 0 no-repeat

        &:last-child
            margin-right 0

            &:before,
            &:after
                display none

    &__icon
        position relative
        width 114px
        height 114px
        background-color #f5f5f5
        border-radius 50%
        margin 0 auto 36px

        &:before
            content ''
            position absolute
            top 50%
            left 50%
            background-color transparent
            background-repeat no-repeat
            background-size 100%
            background-position 0 0
            transform translate(-50%, -50%)

        &._card
            &:before
                width 62px
                height 56px
                background-image url('../img/card2.svg')
        &._point
            &:before
                width 47px
                height 56px
                background-image url('../img/hand.svg')

        &._gift
            &:before
                width 53px
                height 56px
                background-image url('../img/gift.svg')

        &._register
            &:before
                width 61px
                height 60px
                background-image url('../img/comp.svg')

        &._share
            &:before
                width 45px
                height 60px
                background-image url('../img/share.svg')

        &._money
            &:before
                width 50px
                height 60px
                background-image url('../img/money.svg')

    &__tlt
        font-size 16px
        line-height 24px
        color #9299a2
        text-align center

    @media $max1024
        display block

        &__block
            width 100%
            max-width 220px
            margin 0 auto 40px

            &:before,
            &:after
                display none

            &:last-child
                margin-right auto
