.contact-block
    position relative
    padding 40px 140px 40px 40px

    &__tlt
        font-size 24px
        line-height 30px
        font-weight 400
        margin-bottom 36px

        span
            display block
            font-size 16px
            line-height 30px
            color #9299a2

            @media $max690
                white-space nowrap

    &__btn
        .btn
            line-height 44px
            height 44px
            font-size 12px

    &:before
        position absolute
        width 100px
        height 100px
        background #f5f5f5 url('../img/operator.svg') 50% 50% no-repeat
        border-radius 50%
        top 40px
        right 40px
        content ''

    &._register
        &:before
            background-image url('../img/gif.svg')

    @media $max690
        padding 164px 15px 40px
        text-align center

        &:before
            right auto
            left 50%
            margin-left -50px

        &__tlt
            font-size 20px
            margin-bottom 30px

            span
                font-size 14px
