.news
    position relative
    padding-left 100px

    h1
        font-size 30px
        line-height 50px
        color $black
        text-align left

    @media $max1024
        padding-left 0

.news-header
    margin-bottom 40px

    &__date
        position absolute
        left -50px
        top 13px
        font-size 17px
        color $gray

        @media $max1024
            position static
            margin-bottom 15px
