.partners-list
    position relative
    display flex
    flex-flow row wrap
    justify-content space-around
    align-items center
    width calc(100% + 30px)
    margin-left -15px
    padding-top 56px
    margin-bottom -26px

    &:before
        content ''
        width 70px
        height 2px
        position absolute
        top 0
        left 50%
        margin-left -35px
        background-color $red

    &__item
        margin 0 15px 56px

        &:hover
            text-decoration none

            .partners-list__tlt
                text-decoration underline

    &__more
        clear both

    &__img
        display block
        margin-bottom 16px

    &__tlt
        color $grayTitle
        font-size 18px
        margin-bottom 8px

    &__date
        font-size 12px
        line-height 20px
        color $gray

    @media $max690
        width 100%
        margin-left 0
        margin-bottom 40px

        &__item
            display flex
            flex-direction row
            justify-content flex-start
            align-items start
            margin-bottom 25px

            .partners-list__tlt
                font-size 16px

            img
                width 80px
                margin-right 15px
                margin-bottom 0

            &:last-child
                margin-bottom 0

            &:nth-child(-n+4)
                display block
                width 100%
                margin-left 0

                img
                    display block
                    width 100%
                    margin-bottom 16px

    @media $max690
        display block

        &__item
            margin: 0 auto 30px

.partners-list-more
    text-align center
    margin-bottom 80px

    @media $max1024
        margin-bottom 0
