.partners
    &__header
        padding-bottom 17px
        border-bottom solid 1px #e2e2e2
        margin-bottom 40px

        @media $max768
            padding-bottom 32px
            margin-bottom 32px

.partners-header
    display flex
    flex-direction row
    justify-content flex-start
    align-items top

    &__img
        display block
        margin-right 30px

        img
            display block

    h1
        font-size 40px
        line-height 50px
        color $black
        text-align left

        span
            display block
            font-size 20px
            color $gray
            line-height 70px
            letter-spacing .2px

    @media $max768
        display block

        h1
            font-size 20px
            line-height 30px
            text-align center

            span
                font-size 14px
                line-height 21px
                margin-top 15px

        &__img
            margin-right 0
            margin-bottom 32px

            img
                margin 0 auto

.partners-footer
    &__block
        margin-bottom 35px

        &._flex-row
            display flex
            flex-direction row
            justify-content space-between
            align-items center

            .btn
                margin-right 40px

            @media $max690
                display block

                .discount
                    margin-bottom 24px

        &:last-child
            margin-bottom 0
            padding-top 20px
            border-top solid 1px #e2e2e2

