.popup-cards

    &__current
        color $gray
        font-size 18px
        line-height 30px
        margin-bottom 5px

    &__tlt
        color #333
        font-size 24px
        line-height 40px
        margin-bottom 35px

    @media $max690
        &__current
            font-size 16px
            margin-bottom 24px

        &__tlt
            font-size 18px
            line-height 21px
            margin-bottom 40px

.popup-cards-list
    &__item
        margin-bottom 35px
        padding-bottom 30px
        border-bottom solid 1px #e2e2e2

        &:last-child
            margin-bottom 0
            padding-bottom 0
            border none

.popup-card
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start

    &__part
        width 50%

        &:first-child
            width 45%
            margin-right 5%

        @media $max690
            &:first-child
                width 100%
                margin-right 0

            &:last-child
                display none

    &__tlt
        color $black
        font-size 18px
        font-weight 500
        margin-bottom 45px

        @media $max690
            margin-bottom 15px

    .card-type
        &__img
            margin-bottom 0

        .card-type-header__item
            padding-top 20px

            &:after
                display none

    &__type-mob
        display none

        @media $max690
            display block

        .discount
            margin-bottom 30px

            &__inner
                font-weight 400

.popup-card-get
    &__item
        display flex
        flex-direction row
        justify-content flex-start
        align-items flex-start
        margin-bottom 30px

        span
            display block
            white-space nowrap
            margin-right 10px
            color $gray
            font-size 12px
            text-transform uppercase
            letter-spacing 1.5px
            font-weight 900
            line-height 21px

        a
            color $red
            font-size 16px
            line-height 21px

        &:last-child
            margin-bottom 0
