.popup-form
    background-color $white
    border-radius 6px
    box-shadow 0 2px 5px 0 rgba($black, 0.05)
    padding 56px 60px 46px
    max-width 440px

    &__tlt
        font-size 24px
        line-height 30px
        margin-bottom 40px
        text-align center
        font-weight 300

    &__close
        transition ease .3s all
        content ''
        position absolute
        top 20px
        right 20px
        width 21px
        height 21px
        background transparent url('../img/close-popup.svg') 0 0 no-repeat
        cursor pointer

        &:hover
            transform rotate(180deg)

    &._cards
        max-width calc(100% - 60px)
        padding 65px 85px

    @media $max690
        padding 30px 15px 40px
        max-width 320px

        &._cards
            padding 30px 15px 40px
            max-width 320px

        &__close
            width 14px
            height 14px
            top 15px
            right 15px
            background-size cover

        &__tlt
            font-size 18px
            color $black
            text-align left
            font-weight 500
            margin-bottom 24px

.form
    min-width 290px

    @media $max690
        border-top solid 1px #f5f5f5

    &__step
        margin-bottom 30px

        &:last-child
            margin-bottom 0
            text-align center

            input
                + div
                    margin-top 25px

                    a
                        font-size 14px
                        color $red

        @media $max690
            em
                display block
                font-size 15px
                line-height 26px
                font-style normal
                font-weight normal
                color #9299a2

    &__inp
        display block
        width 100%
        border none
        height 40px
        line-height 40px
        font-size 16px
        border-bottom solid 1px #ccc

        &.user-error
            border-color $red

        @media $max690
            border solid 1px #ccc
            border-radius 22px
            padding 0 15px

    &__txtarea
        transition ease .3s all
        width 100%
        resize none
        border none
        border-bottom solid 1px #ccc
        padding-bottom 10px
        font-size 16px
        line-height 22px

        @media $max690
            border solid 1px #ccc
            border-radius 22px
            padding 0 15px

        &._focus
            padding-bottom 0
            height 40px
            line-height 40px
            overflow hidden

.agreement
    position relative
    overflow hidden

    input
        position absolute
        left -999px

        &:checked
            + span
                &:before
                    background-color $red

        &.user-error
            + span
                color $red

    span
        display block
        padding-left 30px
        font-size 12px
        line-height 14px
        color #333

        &:before
            content ''
            position absolute
            left 0
            top 0
            background #e2e2e2 url('../img/checkmark.svg') 50% 50% no-repeat
            border-radius 50%
            width 24px
            height 24px

