.products
    position relative
    padding-top 56px

    &:before
        content ''
        width 70px
        height 2px
        position absolute
        top 0
        left 50%
        margin-left -35px
        background-color $red

    &__header
        margin-bottom 56px

    @media $max690
        padding-top 40px

        &__header
            margin-bottom 32px

        &:before
            display none

.products-categories
    display flex
    flex-direction flex-start
    flex-wrap wrap
    align-items center

    &__lbl
        position relative
        overflow hidden
        display block
        margin 0 8px 16px
        cursor pointer
        letter-spacing 1.3px

    &__name
        transition ease .3s all
        display block
        font-size 10px
        line-height 35px
        height 35px
        border-radius 4px
        background #e7e7e7
        text-transform uppercase
        text-align center
        padding 0 18px
        color #4a4a4a
        font-weight bold

    &__inp
        position absolute
        left -999px
        visibility hidden

        &:checked
            + .products-categories__name
                color $white
                background #4a4a4a

    @media $max1224
        width 66.6%

    @media $max1024
        width 100%

    @media $max690
        display none

.product-categories-mob
    display none
    text-align center

    &__popup
        transition ease .3s all
        transform translateY(-100%)
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        background-color $white
        z-index 10000
        visibility hidden

    &__header
        height 70px
        position relative
        padding 0 15px
        border-bottom solid 1px #f5f5f5
        margin-bottom 10px

    &__close
        position absolute
        top 25px
        right 15px
        transition ease .3s all
        content ''
        width 14px
        height 14px
        background transparent url('../img/close-popup.svg') 0 0 no-repeat
        background-size cover
        cursor pointer

        &:hover
            transform rotate(180deg)

    &__tlt
        font-size 18px
        color #333
        line-height 70px
        text-align left
        display block

    @media $max690
        display block
        width calc(100% - 58px)

        .btn
            width 100%
            min-width 0

.product-categories-mob-list
    text-align left
    padding 0 15px
    overflow-y scroll
    max-height calc(100% - 80px)

    &__item
        display block
        line-height 48px
        font-size 15px
        color #4a4a4a

        &._active
            color $red
            font-weight 500

.products-form
    display flex
    flex-flow flex-start wrap
    align-items top

    @media $max1054
        display block

    @media $max690
        display flex
        flex-direction row
        justify-content flex-start
        align-items center

.products-search
    position relative
    min-width 264px
    width calc(25% - 22.5px)
    height 48px
    margin-right 22px

    &__txt
        transition ease .3s all
        display block
        border none
        width 100%
        padding 0 48px 0 20px
        background transparent
        font-size 17px
        line-height 46px
        border solid 1px #e2e2e2
        background-color $white
        border-radius 22.5px

        &:focus
            border-color #818181

    &__sbmt
        position absolute
        top 0
        right 0
        width 48px
        height 48px
        background $red url('../img/loupe-icon.svg') 50% 50% no-repeat
        border none
        border-radius 50%
        cursor pointer

    @media $max1224
        width calc(33.33% - 20px)

    @media $max1054
        margin 0 auto 40px

    @media $max690
        width 48px
        min-width 0
        margin 0 10px 0 0

        &__txt
            width 0
            padding 0
            border none

        &__sbmt
            background-color #9299a2

.products-list
    display flex
    flex-flow row wrap
    justify-content flex-start
    margin-bottom 10px

    &__item
        position relative
        min-width 264px
        width calc(25% - 22.5px)
        margin 0 30px 30px 0
        height 264px
        box-shadow 0 2px 5px 0 rgba($black, 0.2)
        border-radius 6px
        padding 110px 22px 22px
        background-color $white

        &:hover
            text-decoration none
            box-shadow 0 2px 5px 0 rgba($black, 0.05)

            .products-list__footer
                &:after
                    animation: swiping 1s linear infinite;

        &:first-child
            background-color $red

            .products-list__name,
            .products-list__descr
                color $white

            &:before
                transition ease .3s all
                content ''
                position absolute
                top 39px
                left 50%
                margin-left -22.5px
                width 45px
                height 45px
                background transparent url('../img/plus_large.svg') 0 0 no-repeat
                background-size cover

            @media $max690
                height 93px
                padding 0 0 0 96px

                &:before
                    left 47px
                    top 30px
                    margin-left 0
                    width 32px
                    height 32px

                .products-list__name
                    line-height 93px
                    text-align left
                    font-weight 400

                .products-list__descr
                    display none

            &:hover
                &:before
                    transform rotate(180deg)

        &:nth-child(4n)
            margin-right 0

        @media $max1224
            width calc(33.33% - 20px)

            &:nth-child(4n)
                margin-right 30px

            &:nth-child(3n)
                margin-right 0

        @media $max900
            width calc(50% - 30px)

            &:nth-child(4n)
                margin-right 0

            &:nth-child(3n)
                margin-right 30px

        @media $max690
            width 100%
            margin 0 0 30px

            &:nth-child(3n)
                margin-right 0

    &__img
        position absolute
        top 22px
        left 22px
        right 22px

        img
            display block
            max-width 100%
            margin 0 auto

    &__name
        color #333
        font-size 18px
        font-weight 500
        text-align center
        margin-bottom 8px

    &__descr
        font-size 14px
        line-height 21px
        color #666
        text-align center

    &__footer
        position absolute
        bottom 0
        left 0
        right 0
        border-top solid 2px #f5f5f5
        height 50px
        padding-left 50px
        line-height 50px

        &:before
            content ''
            position absolute
            left 22px
            top 15px
            width 20px
            height 20px
            background transparent url('../img/sale-gray.svg') 0 0 no-repeat

        &:after
            content ''
            background transparent url('../img/enter.svg') 0 0 no-repeat
            width 11px
            height 7px
            position absolute
            right 22px
            top 22px
