.slider
    &__item
        margin 0 15px
        background-color $white
        box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.05)
        border-radius 6px

    @media $max1024
        max-width 320px
        margin 0 auto
        background-color $white
        box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.05)
        border-radius 6px

        &__item
            box-shadow none

.slick-dots
    transform translateY(-24px)
    list-style none
    display flex
    flex-direction row
    align-items center
    justify-content center

    li
        width 7px
        height 7px
        margin-right 8px

        &:last-child
            margin-right 0

        &.slick-active
            button
                background $red

    button
        transition ease .3s all
        border none
        background $gray
        line-height 0
        height 100%
        color transparent
        font-size 0
        display block
        width 100%
        border-radius 50%

.slider-tabs-mob
    display none
    flex-direction row
    justify-content space-between
    align-items center
    padding 0 15px
    max-width 320px
    margin 0 auto 32px

    @media $max1024
        display flex

    &__item
        transition ease .3s all
        line-height 28px
        font-size 11px
        text-transform uppercase
        font-weight 500
        color #333
        border-bottom solid 2px transparent
        cursor pointer

        &._active
            border-color #af0149
            cursor default

