mixin svg(svg_id, svg_class, svg_path)
    span.icon
        svg(id=svg_id, class=svg_class, xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
            image(x="0", y="0", xlink:href=svg_path)

mixin simple-svg(svg_path, svg_class)
    div.icon
        img(src=svg_path, class=svg_class, alt="")
